hr {
  border: 0;
  border-top: 1px solid #D2D6DF;
  height: 0;
  margin: 0;
}

.main-body {
  height: auto;
  min-height: 60vh;
  margin: 0 auto;
  margin-top: 11vh;
  //padding: 0 0 70px;
  &:after {
    content: "";
    display: block;
  }

  .inner-margin {
    margin-bottom: 50px;
  }
}

.text-large {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}
