hr {
  border: 0;
  border-top: 1px solid #D2D6DF;
  height: 0;
  margin: 0;
}

.main-body {
  height: auto;
  min-height: 60vh;
  margin: 0 auto;
  margin-top: 7vh;
  //padding: 0 0 70px;
  &:after {
    content: "";
    display: block;
  }

  .inner-margin {
    margin-bottom: 50px;
  }
}

.text-large {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}

.listing-panel {
  border-style: solid;
  border-color: #D2D6DF;
  border-width: 1px 0;
  background-color: white;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sticky-listing-panel {
  position: relative;
  z-index: 10000;
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15000;

  .pop-up_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 25%;
    top: 25%;
    margin: auto;
    background: #f0f4fd;

    .pop-up_inner_content {
      position: relative;
      padding-top: 20px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}