.center-content {
  max-width: 912px;
  margin: 0 auto;
}

.main-panel-container {
  position: relative;
  padding-bottom: 102px;
}

.main-panel-outer-half {
  width: 60%;
  float: left;
}

.main-panel-inner-half {
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 544px;
  }
}

.main-panel-padding {
  padding: 30px;
}

.main-panel {
  font-size: 14px;
}

.left-backdrop {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;

  background-color: #fff;
  left: 0;
  width: 60%;

  @media screen and (min-width: 912px) {
    width: 58%;
    padding-left: 91.2px;
  }
}

.right-backdrop {
  background-color: #fafafa;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 60%;
  right: 0;

  @media screen and (min-width: 912px) {
    left: 50%;
    margin-left: 91.2px;
    right: 0;
  }

}



.form-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

  .form_details_header {
    margin-top: 20px;
    .form-header {
      padding-left: 0;

      .form-title {
        display: table;
        width: 100%;
        box-sizing: border-box;

        .form-row {
          display: table-row;

          .form-number {
            display: table-cell;
            vertical-align: middle;
            background-color: #0093D7;
            color: #fff;

            width: 50px;
            font-size: 35px;
            line-height: 45px;
            padding: 5px 0;
            text-align: center;
          }

          .inner-form-title {
            display: table-cell;
            vertical-align: middle;
            padding-left: 10px;
            color: #666a73;
          }
        }
      }
      .inner-form-hr {
        bottom: 1px;
        position: relative;
      }
    }
  }

  .form-inner-col-field {
    padding-left: 0;
    .form_details_contents {
      margin-top: 10px;
      margin-bottom: 35px;
    }

    .form_image_contents {
      margin-top: 20px;
      margin-bottom: 35px;
      min-height: 104px;
    }
  }
}

.display-car-listing {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  .image-car-listing {
    position: relative;
    width: 100%;
    cursor: pointer !important;
    padding: 0 24px;

    .car-image {
      background-size: contain !important;
      height: 300px;
      background-repeat: no-repeat;
      background-position: 50% 50% !important;
    }
  }

  .car-listing_body {
    position: relative;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0;

    .car-listing_body_content {
      margin-left: auto !important;
      margin-right: auto !important;
      width: auto !important;

      @media only screen and (min-width: 744px) {
        padding: 0 24px !important;
      }

      .car-detail-panel-wrapper {
        .car-title-panel-wrapper {
          position: relative;
          width: 100%;
          padding: 20px 10px;
          top: 3px;

          .left-panel {
            border-right-width: 1px;
          }

          .right-panel {

          }
        }

        .car-content-panel-wrapper {
          padding: 10px;
          position: relative;
          width: 100%;
          top: 1px;
        }

        .car-review-panel-wrapper {
          position: relative;
          padding: 10px;
          width: 100%;
          top: 1px;
          border-top-width: 0;
        }

        .car-panel-float-right {
          float: right;
        }
      }
    }
    //@media only screen and (min-width: 1080px) {
    //  margin-top: 40px;
    //}
  }
}

.display-car-listing-collection {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;

  .display-car-listing-collection_header {
    margin: 24px 0 !important;

    .display-car-listing-collection_header_title {
      display: table !important;
      table-layout: fixed !important;
      width: 100% !important;

      .display-car-listing-collection_header_title_cell {
        display: table-cell !important;
        width: 100%;
        vertical-align: baseline !important;

        .display-car-listing-collection_header_title_cell_word {
          margin-bottom: 8px !important;

          .display-car-listing-collection_header_title_cell_word_h3 {
            font-weight: 700 !important;
            margin-bottom: 0 !important;
            font-size: 28px !important;
            line-height: 32px !important;
            letter-spacing: -0.6px !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
            color: rgb(72, 72, 72) !important;
          }
        }
      }
    }

    @media only screen  and (min-width: 744px) {
      margin: 32px 0 !important;
    }
  }
}