.center-content {
  max-width: 912px;
  margin: 0 auto;
}

.main-panel-container {
  position: relative;
  padding-bottom: 102px;
}

.main-panel-outer-half {
  width: 60%;
  float: left;
}

.main-panel-inner-half {
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 544px;
  }
}

.main-panel-padding {
  padding: 30px;
}

.main-panel {
  font-size: 14px;
}

.left-backdrop {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;

  background-color: #fff;
  left: 0;
  width: 60%;

  @media screen and (min-width: 912px) {
    width: 58%;
    padding-left: 91.2px;
  }
}

.right-backdrop {
  background-color: #fafafa;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 60%;
  right: 0;

  @media screen and (min-width: 912px) {
    left: 50%;
    margin-left: 91.2px;
    right: 0;
  }

}



.form-container {
  max-width: 1080px;
  margin-left: 8.3333333333%;
  margin-right: auto;

  .form_details_contents {
    margin-top: 10px;
    width: 66.6666666667%;
  }
}



