.search-bar {
  background-color: #fafafb;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
  width: 100%;
  text-align: center;
  height: 44px;
  font-size: 0;

  ul {
    padding : 0 15px;
  }

  li {
    display: inline-block;
    list-style: none;
    padding: 8px 7px;
  }

  a {
    font-size: 11px;
    color: #212223;
    line-height: 20px;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 1px;
    text-decoration: none;

    &:hover {
      background: #F48024;
      color: #fafafb;
      font-weight: 500;
    }
  }
}