.textField-form {
  box-sizing: border-box;
  border-radius: 3px;
  vertical-align: middle;
  width: 100%;
  padding: 9px 12px;
  border: 1px #D2D6DF solid;
  background: #fff;

  color: #45494E;
  line-height: 24px;
  height: 38px;
  letter-spacing: .5px;
}

.textField-label {
  letter-spacing: .5px;
  vertical-align: middle;
  color: #282C35;
  line-height: 22px;
  font-weight: 600;
  font-size: 15px;
}